* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    background-image: linear-gradient(90deg, #071426, #0b0f14);
    color: #ffffff;
}

.pramiry-color {
    color: #1fb6ff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
    text-transform: capitalize;
}
.pd-section {
    padding: 60px 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 85%;
    margin: auto;
}

/* start header */
.header-nav {
    box-shadow: 1px 1px 2px #00000070, -1px -1px 2px #00000070;
}
header .flex {
    height: 30px;
}

.header-nav .links {
    display: flex;
    gap: 4px;
    padding: 10px 0;
}
.header-nav .links li a {
    position: relative;
    padding: 0px 10px;
    font-size: 14px;
}
.header-nav .links li a::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: "";
    width: 2px;
    height: 0;
    background-color: #1fb6ff;
    transition: 1s;
}

.header-nav .links li a::before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 2px;
    height: 0;
    background-color: #1fb6ff;
    transition: 1s;
}

.header-nav .links li a:hover::after {
    height: 100%;
}

.header-nav .links li a:hover::before {
    height: 100%;
}
.header-nav .links li i {
    transition: 0.5s;
}
.header-nav .links li:hover i {
    color: #1fb6ff;
}

.header-nav .links li a:hover i {
    transition: 0.5s;
}
.header-nav .links li a:hover i {
    transform: rotateY(180deg);
}

/* start nav */

.logo {
    font-size: 40px;
    text-transform: uppercase;
}
nav .flex {
    padding: 40px 0;
}
nav .links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}
nav .links > li {
    position: relative;
    display: block;
    padding: 10px;
}
nav .links > li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -1px;
    width: 101%;
    height: 100%;
    border: 2px solid #1fb6ff;
    border-right: 0;
    border-left: 0;
    transition: 1s;
    transform: scaleX(0);
    transform-origin: left;
}
nav .links > li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1px;
    width: 98%;
    height: 100%;
    border: 2px solid #1fb6ff;
    border-bottom: 0;
    border-top: 0;
    transition: 1s;
    transform: scaleY(0);
    transform-origin: bottom;
}

nav .links > li:hover::after {
    transform: scaleX(1);
}

nav .links > li:hover::before {
    transform: scaleY(1);
}

.dropMenuBtn {
    position: relative;
}

.dropMenu {
    position: absolute;
    left: -150%;
    z-index: 99;
    transform: scale(0);
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 300px;
    transition: 1s;
    box-shadow: 1px 1px 2px #00000070, -1px -1px 2px #00000070;
}

.dropMenuBtn:hover .dropMenu {
    transform: scale(1);
}

.dropMenu li {
    margin-bottom: 10px;
}
.dropMenu li a:hover {
    display: block;
    color: #1fb6ff;
    transform: scale(1.1);
}
.dropMenu-title {
    display: inline-block;
    border-bottom: 1px dotted #1fb6ff;
    margin-bottom: 10px;
}
.cart {
    position: relative;
}

.cart span {
    position: absolute;
    top: -18px;
    left: 1px;
    background: #1fb6ff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.2s;
}
.third-part {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.third-part i:hover {
    color: #1fb6ff;
    cursor: pointer;
}

.third-part .cart i:hover ~ span {
    transform: translateY(-3px);
}

.discount {
    background-color: #1fb6ff;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.shop-now {
    color: #003366;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}

.shop-now:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #003366;
}

.shop-now:hover {
    letter-spacing: 2px;
}
/* start main */
img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
main .flex {
    gap: 100px;
}
.main-info {
    width: 50%;
    text-align: center;
    text-transform: capitalize;
}

main h1 {
    font-size: 40px;
}
main p {
    margin: 20px 0;
    color: #9ca3af;
}
.btn-primary {
    background-color: #1fb6ff;
    color: #ffffff;
    border: none;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    font-size: 20px;
}

.btn-primary:hover {
    background-color: #1fb4ffa6;
}

.highlight {
    color: #9ca3af;
}

/* start category */

.category-items {
    position: relative;
    width: 400px;
    height: 400px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px#071426 inset;
}

.category-items img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 1s;
}

.category-info {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -40px;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(to top, #000000, #00000005);
    padding: 15px 0;
    transition: 1s;
}

.category-info h2 {
    margin-bottom: 15px;
}

.category-info .shop-now {
    color: #1fb6ff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    mix-blend-mode: screen;
}

.category-info .shop-now:after {
    background-color: #1fb6ff;
}

.category-items:hover .category-info {
    bottom: 0px;
}
.category-items:hover img {
    transform: scale(1.1);
}
/* start trending */

ul.category {
    display: flex;
    gap: 30px;
    font-size: 20px;
}
ul.category li {
    padding-bottom: 30px;
}
.section-title {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 30px;
    font-weight: normal;
}

.trending .flex {
    align-items: stretch;
    gap: 20px;
}

.third-category {
    border-bottom: 6px solid #1fb6ff;
}

.items {
    position: relative;
    width: 25%;
    transition: 0.5s;
}
.items:hover .icon {
    bottom: 40px;
}

.items:hover .info h3 {
    color: #1fb6ff;
}

.items .parent {
    position: relative;
    overflow: hidden;
}

.items .image {
    width: 100%;
    height: 300px;
}

.trending img {
    object-fit: contain;
    transition: 0.5s;
}

.trending .items:hover img {
    transform: scale(1.1);
}

.info {
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}
.info p {
    margin-top: 20px;
}
.info a {
    text-decoration: underline;
    display: inline-block;
    transition: 0.5s;
}
.info a:hover {
    transform: scale(1.1);

    transform-origin: center;
}
del {
    margin-left: 15px;
}
.icon {
    display: flex;

    position: absolute;
    bottom: -50px;
    background-color: #1fb6ff;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 1s;
    z-index: 88;
}
.icon a {
    display: block;
    font-size: 20px;

    padding: 10px;
    transition: 0.5s;
}
.icon a:hover {
    background-color: rgba(11, 15, 20, 0.404);
}

/* start testimonial */

.testimonial {
    background-color: #003366;
    position: relative;
    box-shadow: 1px 1px 5px white, -1px -1px 5px wheat;
}
.title {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.testimonial p {
    color: #ffffffef;
}
.opinion {
    text-align: center;
    font-size: 20px;
    width: 30%;
    margin: 40px auto;
}
.testimonial .flex {
    justify-content: center;
    gap: 20px;
}

.testimonial .flex h3 {
    margin-bottom: 20px;
}
.testimonial .image {
    width: 100px;
    height: 100px;
}
.testimonial img {
    border-radius: 50%;
}
.arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
    font-size: 25px;
    padding: 0 50px;
}
.arrows i:hover {
    color: #1fb6ff;
    cursor: pointer;
}
.recommendation,
.trending {
    position: relative;
}
.recommendation .flex {
    gap: 20px;
}
.recommendation img {
    object-fit: contain;
    transition: 0.5s;
}

.recommendation .items:hover img {
    transform: scale(1.1);
}

/* start news */

.news {
    box-shadow: 0 0 1px 1px #a99f9f;
}
.news .items {
    width: 31%;
}
.news .items img {
    transition: 0.5s;
    object-fit: cover;
}

.news .items .image {
    height: 450px;
}
.news .items img:hover {
    transform: scale(1.1);
}

.news .info {
    text-align: start;
    font-size: 20px;
}

.news .info p {
    margin: 30px 0;
    color: #ffffffe8;
}
.news .info h5 {
    margin-bottom: 20px;
    color: #ffffffe8;
}

/* start features */
.feature-item {
    text-align: center;
}
.feature-icon {
    position: relative;
    overflow: hidden;
    height: 50px;
}
.feature-icon .fa-truck:first-child,
.fa-money-bill-wave:first-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.feature-icon .fa-truck:last-child,
.fa-money-bill-wave:last-child {
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.feature-icon .fa-money-check-alt:first-child,
.fa-user-clock:first-child {
    position: absolute;
    left: 50%;
    top: 0;

    transform: translateX(-50%);
    transition: 0.5s;
}

.feature-icon .fa-money-check-alt:last-child,
.fa-user-clock:last-child {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.feature-item:hover .feature-icon .fa-truck:first-child,
.feature-item:hover .feature-icon .fa-money-bill-wave:first-child {
    left: 150%;
}
.feature-item:hover .feature-icon .fa-truck:last-child,
.feature-item:hover .feature-icon .fa-money-bill-wave:last-child {
    left: 50%;
}
.feature-item:hover .feature-icon .fa-money-check-alt:first-child,
.feature-item:hover .feature-icon .fa-user-clock:first-child {
    top: -100%;
}
.feature-item:hover .feature-icon .fa-money-check-alt:last-child,
.feature-item:hover .feature-icon .fa-user-clock:last-child {
    top: 0;
}
.feature-item i {
    font-size: 50px;
    color: #1fb6ff;
}

.feature-item h2 {
    margin: 15px;
}

/* start footer */

.footer {
    background-color: #003366;
}
footer .flex {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

footer .flex h2 {
    margin-bottom: 15px;
}
.email {
    display: flex;
    gap: 10px;
}
.email input {
    padding: 10px;
    outline: none;
    border: none;
    width: 400px;
    height: 50px;
    font-size: 20px;
}

.email .subscribe {
    background-color: #1fb6ff;
    height: 50px;
    border: 0;
    width: 150px;
    font-size: 20px;
    color: white;
    font-family: "Jost", sans-serif;
    text-transform: capitalize;
}

.footer-social {
    display: flex;
    gap: 14px;
}
.footer-social i {
    font-size: 25px;
    transition: 0.4s;
    mix-blend-mode: screen;
}

.footer-social i:hover {
    transform: scale(1.1);
    color: #1fb6ff;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid white;
}

.footer-links-item {
    display: flex;
    flex-direction: column;
}

.footer-links-item li:first-of-type {
    font-size: 20px;
    font-weight: bold;
}

.footer-links-item li {
    margin-bottom: 20px;
}
.footer-links-item li a {
    display: inline-block;
    transition: 0.3s;
}
.footer-links-item li a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.footer-links-item li:first-child {
    transform: scale(1);
    text-decoration: none;
}

footer .Copyright {
    text-align: center;
    padding: 20px;
}
footer .Copyright i {
    animation: heart infinite 0.5s alternate;
}
footer .Copyright a {
    color: #1fb6ff;
    transition: 0.4s;
}

footer .Copyright a:hover {
    letter-spacing: 1px;
    text-decoration: underline;
}

@keyframes heart {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
        color: red;
    }
}
